
<nav class="navbar navbar-light bg-light sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="home">MultiJooj</a>
    
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
      aria-controls="offcanvasNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Offcanvas</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link active" routerLink="home">Home</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-bs-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">Timers</a>
            <div class="dropdown-menu border-0" aria-labelledby="dropdownId">
              <a class="dropdown-item" routerLink="stopwatch">Stopwatch</a>
              <a class="dropdown-item disabled" routerLink="countdown">Countdown</a>
              <a class="dropdown-item disabled" routerLink="Pomodoro">Pomodoro</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-bs-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">Tabletop</a>
            <div class="dropdown-menu border-0" aria-labelledby="dropdownId">
              <a class="dropdown-item disabled" routerLink="stopwatch">Dice Roller</a>
              <a class="dropdown-item disabled" routerLink="countdown">Life Counter</a>
              <a class="dropdown-item disabled" routerLink="Pomodoro">Turn Timer</a>
            </div>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Currently disabled" aria-label="Search">
          <button class="btn btn-outline-secondary disabled" type="submit">Search</button>
        </form>
      </div>
    </div>
  </div>
</nav>