<div class="container">
    <div class="row">
        <div class="col-1 col-sm-2 col-md-3 col-xl-4"></div>
        <div class="col">
            <div *ngIf="isRunning"
                class="container d-flex justify-content-center mt-5 pt-5 pb-4 px-5 bg-secondary rounded-40-top">
                <pre class="display-6">{{hrDisplay}}:</pre>
                <pre class="display-6">{{minDisplay}}:</pre>
                <pre class="display-6">{{secDisplay}}:</pre>
                <pre class="display-6">{{mls}}</pre>
            </div>
            <div *ngIf="!isRunning" class="container mt-5 pt-5 pb-4 px-5 bg-secondary rounded-40-top ">
                <form>
                    <div class="form-group row">
                        <div class="col p-0 form-floating">
                            <input [(ngModel)]="hrForm" type="number" [value]="0" min="0" max="99" size="2"
                                class="form-control form-control-lg form-control-plaintext" name="formHr">
                            <label for="formHr">Hour</label>
                        </div>
                        <div class="col p-0 form-floating">
                            <input [(ngModel)]="minForm" type="number" [value]="0" min="0" max="59" size="2"
                                class="form-control form-control-lg form-control-plaintext" name="formMin">
                            <label for="formMin">Minute</label>
                        </div>
                        <div class="col p-0 form-floating">
                            <input [(ngModel)]="secForm" type="number" [value]="0" min="0" max="59" size="2"
                                class="form-control form-control-lg form-control-plaintext" name="formSec">
                            <label for="formSec">Second</label>
                        </div>

                    </div>
                </form>
            </div>
            <div class="container d-flex justify-content-center bg-secondary rounded-40-bottom pb-3 mb-2">
                <button *ngIf="!isRunning" (click)="startCountdown()" class="btn btn-dark rounded-circle btn-block m-1"
                    routerLink="/countdown">Start</button>
                <button *ngIf="isRunning && !isPaused" (click)="pauseCountdown()"
                    class="btn btn-dark rounded-circle btn-block m-1" routerLink="/countdown">Pause</button>
                <button *ngIf="isRunning && isPaused" (click)="continueCountdown()"
                    class="btn btn-dark rounded-circle btn-block m-1" routerLink="/countdown">Continue</button>
                <button (click)="stopCountdown()" class="btn btn-dark rounded-circle btn-block m-1"
                    routerLink="/countdown">Reset</button>
            </div>

        </div>
        <div class="col-1 col-sm-2 col-md-3 col-xl-4"></div>
    </div>
</div>