<div class="row">
    <div class="col-sm col-2"></div>
    <div class="col">
        <div class="container d-flex justify-content-center mt-5 pt-5 pb-4 px-5 bg-secondary rounded-40-top">
            <span class="display-6">{{hr}}:</span>
            <span class="display-6">{{min}}:</span>
            <span class="display-6">{{sec}}:</span>
            <span class="display-6">{{mls}}</span>
        </div>
        <div class="container d-flex justify-content-center bg-secondary rounded-0">
            <button *ngIf="!running" (click)="start()" class="btn btn-dark rounded-circle btn-block m-1"
                routerLink="/stopwatch">Start</button>
            <button *ngIf="running" (click)="start()" class="btn btn-dark rounded-circle btn-block m-1"
                routerLink="/stopwatch">Stop</button>
            <button (click)="reset()" class="btn btn-dark rounded-circle btn-block m-1"
                routerLink="/stopwatch">Reset</button>
        </div>
        <div class="container d-flex justify-content-center bg-secondary pb-4 rounded-40-bottom">
            <button (click)="addLap()" class="btn btn-dark rounded-circle btn-block m-1"
                routerLink="/stopwatch">Lap</button>
        </div>

        <table class="table table-borderless table-hover">
            <thead>
                <tr>
                    <th scope="col">Lap #</th>
                    <th scope="col">Time</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let lap of laps">
                    <th scope="row">Lap {{lap.id}}:</th>
                    <td>{{lap.hr}}:{{lap.min}}:{{lap.sec}}:{{lap.mls}}</td>
                </tr>
            </tbody>
        </table>

    </div>
    <div class="col-sm col-2"></div>
</div>