<div class="container">
    <div class="row">
        <div class="col d-grid">
            <p class="display-5 m-2">Timers</p>
            <button class="btn btn-secondary rounded-5 btn-block m-1" routerLink="/stopwatch">Stopwatch</button>
            <button class="btn btn-secondary rounded-5 btn-block m-1" routerLink="/countdown">Countdown
            </button>
            <button class="btn btn-secondary rounded-5 btn-block m-1 disabled" routerLink="/pomodoro">Pomodoro
            </button>
        </div>
        <div class="col d-grid">
            <p class="display-5 m-2">Tabletop</p>
            <button class="btn btn-secondary rounded-5 btn-block m-1 disabled" routerLink="/stopwatch">Dice Roller</button>
            <button class="btn btn-secondary rounded-5 btn-block m-1 disabled" routerLink="/countdown">Life
                Counter</button>
            <button class="btn btn-secondary rounded-5 btn-block m-1 disabled" routerLink="/pomodoro">Turn Timer
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col d-grid">
            <p class="display-5 m-2">More soon . . .</p>
        </div>
    </div>
</div>